@import 'tailwindcss';

@theme {
  --container-8xl: 88rem;
  --container-9xl: 96rem;
  --container-10xl: 104rem;
  --container-11xl: 112rem;
  --container-12xl: 120rem;

  --color-light-gray: #D9D9D9;
  --color-brandeis-blue: #0D6EFD;
  --color-eastern-blue: #17A2B8;
  --color-smokey-gray: #737171;
  --color-lagoon-blue: #81DFF7;
  --color-white-smoke: #F3F4F6;
  --color-pearl-bush: #E0E0E0;
  --text-2xs: 0.75rem;
}

button {
  @apply cursor-pointer;
}

input {
  @apply py-2 px-4 focus:outline-0! border-light-gray border-2 rounded-md;
}

hr {
  @apply border-0 h-px bg-pearl-bush;
}

input[type="checkbox"] {
  @apply appearance-none relative w-5 m-0 p-0 aspect-square border-[1.5px]! border-light-gray outline-0! bg-white rounded-sm;
}

input[type="checkbox"]:checked::before {
  @apply absolute inset-0 flex items-center justify-center content-["\2713"] text-black text-lg;
}
