@import 'tailwindcss';

@theme {
  --color-light-gray: #D9D9D9;
  --color-brandeis-blue: #0D6EFD;
  --color-eastern-blue: #17A2B8;
  --color-smokey-gray: #737171;
  --color-lagoon-blue: #81DFF7;
  --text-2xs: 0.75rem;
}

button {
  @apply cursor-pointer;
}

input {
  @apply py-2 px-4 focus:outline-0! border-light-gray border-1 rounded-sm;
}
